<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.ShowKerningGroups</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Show Kerning Groups</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.7</string>
	<key>CFBundleVersion</key>
	<string>62</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mark2mark/Show-Kerning-Group-Reference/master/ShowKerningGroupReference.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mark2mark/Show-Kerning-Group-Reference</string>
	<key>productReleaseNotes</key>
	<string>Update to new Plugin SDK, Added Context menu to open Tab with KG</string>
	<key>NSHumanReadableCopyright</key>
	<string>Mark Frömberg (@mark2mark)</string>
	<key>NSPrincipalClass</key>
	<string>ShowKerningGroups</string>
</dict>
</plist>
